body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url("../img/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    animation: animateBg 15s ease-in-out infinite alternate;
}

@keyframes animateBg {
    0% {
        background-size: 100%;
        filter: brightness(100%);
    }
    100% {
        background-size: 110%;
        filter: brightness(105%);
    }
}
